{% extends 'base.html.twig' %}

{% block body %}
<div class="app">

	{% include "defaults/header.html.twig" %}

	
    {% include "defaults/categorie.html.twig" %}


	{% include "defaults/footer.html.twig" %}
	


</div>



{% endblock %}