{% extends 'base.html.twig' %}

{% block body %}
	<div class="app">

		{% include "defaults/header.html.twig" %}


        <div class="container">

		<div class="alert alert-success  align-items-center" role="alert">
			

             

              

            <div>
				<i class="bi bi-check2-circle"></i>
			</div> 


			<div>
				Uw bestelling is geplaatst
			</div>
		</div>



        </div>

		{% include "defaults/footer.html.twig" %}


	</div>


{% endblock %}
