$h-bg-color-1: rgba(55, 0, 0, 0.707);

.contact-container{
    background-color: rgb(0, 9, 38);
    display: flex;
    justify-content: space-between;
    margin: 80px 0 100px 0;
    color: #fff;
    border-radius: 15px;
    background-color: $h-bg-color-1;

    .contact-Info{
        width: 40%;
        padding: 80px;
        text-align: center;
    }
    form{
        width: 55%;
        margin: 40px 20px;
        background-color: rgba(255, 255, 255, 0.258);
        padding: 50px;
        border-radius: 10px;
        label{
            margin-top: 10px;
        }
        .form-btn{
            margin-top: 20px;
            button{
                float: right;
                background-color: rgb(0, 155, 0);
            }
        }
    }


}

@media only screen and (max-width: 920px) {
    .contact-container{
        //background-color: rgb(255, 127, 155);
        display: block;
        padding-bottom: 20px;
        form{
            width: 100%;
            margin: 0;
            //margin-bottom: 10px;
           // background-color: rgba(255, 255, 255, 0.258);
           // padding: 50px;
           // border-radius: 10px;
           
        }
        .contact-Info{
            width: 100%;
            
        }
    }
}

