<div class="container contact-container"> 

<div class="contact-Info">
    <h1> Contact Info </h1>
</div>


<form>

    <label for="exampleInputEmail1" class="form-label">Naam: </label>
    <input type="text" class="form-control" id="" aria-describedby="">

    <label for="exampleInputEmail1" class="form-label">Email: </label>
    <input type="email" class="form-control" id="" aria-describedby="">

    <label for="exampleInputEmail1" class="form-label">Bericht: </label>

    <textarea type="text" class="form-control" id="" aria-describedby=""> </textarea>

    <div class="form-btn">
        <button type="submet" class="btn btn-primary">versturen</button>
    </div>


<form>




</div>